**/*
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!dist/extension.js
!dist/webview.js
!dist/sqlite-spike-worker.js
!dist/sqlite-spike-process.js
!dist/sql-wasm.cjs
!dist/sql-wasm.wasm
!dist/sql.js-LICENSE
